
body {
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: auto;
}
.bottom{
    background-color: black;
    padding: 75px;
}
.top{
    background-color: white;
    padding: 44px;
}
.title1{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    position: absolute;
    left: 160px;
    top: 2px;
}
.icon{
    position: absolute;
    left: 100px;
    top: 7px;
}
.title2{
    font-weight: 900;
    font-size: 15px;
    font-family:  Arial, Helvetica, sans-serif;
    position: absolute;
    right: 280px;
    top: 20px;
}
.icon1{
    position: absolute;
    right: 220px;
    top: 14px;
}
.icon2{
    position: absolute;
    right: 170px;
    top: 14px;
}
.icon3{
    position: absolute;
    right: 120px;
    top: 14px;
}
.text-bottom{
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
    position: absolute;
    top: 670px;
    left: 606px;
}
.body_text{
    position: absolute;
    top: 130px;
    left: 606px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    display: flex;
}
.body_text1{
    display: flex;
    position: absolute;
    top: 180px;
    left: 606px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    color: white;
}
.body_text2{
    display: flex;
    position: absolute;
    top: 250px;
    left: 606px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    color: white;
}.body_text3{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 400px;
    left: 606px;
}
.body_text4{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 430px;
    left: 606px;
}
.textbox{
    text-align: left;
    font-size: medium;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 508px;
    left: 606px;
    width: 300px;
    padding: 13px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px; /*define shape corner of the box*/
}   
.button{
    text-align: center;
    position: absolute;
    top: 508px;
    left: 930px;
    color: white;
    border: none;
    background-color: red;
    border-radius: 10px;
    padding: 13px 20px;
    text-align: center;
    display: flexbox;
    font-size: 17px;
}
.image-box {
    width: 100%;
    height: 551px;
    border: none;
    display: flex;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}
.responsive-image {
    width: 100%;
    height: auto;
    display: block;
  }
  .image2 {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-55%, -50%);
    width: 37%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
  }